@page "/Taxes"

@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BarContext> MyFactory
@inject NavigationManager Navigation

<PageTitle>Taxes</PageTitle>

<Options 
    Title=@Title Icon=@Icon 
    Url=@Url UrlCaption=@UrlCaption 
    CreateUrl=@CreateUrl SubTitle=@SubTitle 
    UrlCaptionIcon=@UrlCaptionIcon OptionIcon=@OptionIcon
    NextPage=@NextPage PreviousPage=@PreviousPage
    FirstPage=@FirstPage LastPage=@LastPage
    CurrentPage=@CurrentPage TotalPages=@TotalPages
/>

<div class="row bg-white p-3" style="min-height:75vh !important;">
    <div class="col-12">
        <div class="row text-white bg-unique shadow-sm txtshadow ">
            <div class="col-1 text-center py-3 fw-bolder">#</div>
            <div class="col-2 py-3 text-start ">Tax</div>
            <div class="col-2 py-3 text-start ">Caption</div>
            <div class="col-md-1 col-2 py-3 text-center ">Value</div>
            <div class="col-md-2 col-3 py-3 text-center ">Items</div>
            <div class="col-2 py-3 d-none d-md-block text-start">Reg Date</div>
            <div class="col-2 py-3 text-center d-none d-sm-block">Action</div>
        </div>
        @{
            if(!TheseTaxes.Any()){
                <div class="container text-center">
                    <p class="p-3  fs-4 text-unique fw-lighter opacity-75">-- : --</p>
                </div>
            }
            else{
                foreach(var item in TheseTaxes){
                    <div class="row text-unique border-bottom">
                        <div class="col-1 text-center py-2">@(item.TaxId)</div>
                        <div class="col-2 py-1 text-start ">
                            <a href="Taxes/Detail/@item.TaxId" class="p-0 m-0">
                                <ul class="p-0 m-0 d-flex flex-column text-center">
                                    <li class="p-0 m-0 text-start text-primary text-capitalize">@(item.TaxCode)</li>
                                    <li class=" m-0 opacity-75 " style="font-size:0.8rem !important; width:fit-content;">@(item.TaxCode + item.TaxId)</li>
                                </ul>
                            </a>
                        </div>
                        <div class="col-2 py-2 text-start text-capitalize text-primary opacity-75 ">
                            @item.TaxCaption
                        </div>
                        <div class="col-md-1 col-2 py-2 text-center ">@(item.TaxValue)%</div>
                        <div class="col-md-2 col-3 py-2 text-center ">@item.Product.Count</div>
                        <div class="col-2 py-1 d-none d-md-block text-unique">
                            <ul class="p-0 m-0 d-flex flex-column">
                                <li class="p-0 m-0 text-start text-unique text-capitalize">@((item.TaxDateCreated).ToString("dd MMM yy"))</li>
                                <li class=" m-0 opacity-75 " style="font-size:0.8rem !important; width:fit-content;">@(item.TaxDateCreated.ToString("ddd, hh : mm"))</li>
                            </ul>
                        </div>
                        <div class="col-2 text-center" style="padding-top:0.8rem !important;">
                            <ul class="p-0 m-0 ">
                                <li class="p-0 m-0">
                                    <a href="Taxes/Edit/@item.TaxId" class=" text-primary px-md-3 px-2 py-1 border border-2 " style="width:fit-content; margin:1px auto;">Edit</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>


@code{
    
    // Option Component
    public string Title = "Taxes";
    public string Icon = "at";
    public string OptionIcon = "view-stacked";
    public string SubTitle = "List view";
    public string Url = "Taxes/Detail/0";
    public string UrlCaption = "Detail View";
    public string UrlCaptionIcon = "ui-checks-grid";
    public string CreateUrl = "Taxes/Create";
    
    // Data Variables
    private List<Tax> TheseTaxes = new();
    private int CurrentPage = 0;
    private int PageSize = 9;
    private int TotalPages = 1;
    
    protected override async Task OnInitializedAsync(){
        
        await base.OnInitializedAsync();
        await NextPage();
    }
    
    private async Task NextPage(){
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            
            double Num = (double)(repo.Taxes.GetNoRecords())/PageSize;
            TotalPages = (int)(Math.Ceiling(Num));
            
            if(CurrentPage < TotalPages ){
               CurrentPage ++ ;
            }
            else{
                CurrentPage = TotalPages; 
            }
            
            TheseTaxes = await repo.Taxes.GetAllTaxesDetailedAsync(CurrentPage, PageSize);
            
            await repo.CompleteAsync();
            repo.Dispose(); 
        }
        
        StateHasChanged();
    }
    
    private async Task PreviousPage(){
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            
            double Num = (double)(repo.Taxes.GetNoRecords())/PageSize;
            TotalPages = (int)(Math.Ceiling(Num));
            
            if(CurrentPage > 1 ){
               CurrentPage -- ;
            }
            else{
                CurrentPage = 1; 
            }
            
            TheseTaxes = await repo.Taxes.GetAllTaxesDetailedAsync(CurrentPage, PageSize);
            
            await repo.CompleteAsync();
            repo.Dispose(); 
        }
        
        StateHasChanged();
    }
    
    private async Task FirstPage(){
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            
            double Num = (double)(repo.Taxes.GetNoRecords())/PageSize;
            TotalPages = (int)(Math.Ceiling(Num));
            
            CurrentPage = 1;
            
            TheseTaxes = await repo.Taxes.GetAllTaxesDetailedAsync(CurrentPage, PageSize);
            
            await repo.CompleteAsync();
            repo.Dispose(); 
        }
        
        StateHasChanged();
    }
    
    private async Task LastPage(){
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            
            double Num = (double)(repo.Taxes.GetNoRecords())/PageSize;
            TotalPages = (int)(Math.Ceiling(Num));
            
            CurrentPage = TotalPages;
            
            TheseTaxes = await repo.Taxes.GetAllTaxesDetailedAsync(CurrentPage, PageSize);
            
            await repo.CompleteAsync();
            repo.Dispose(); 
        }
        
        StateHasChanged();
    }
}