@page "/Prices"


@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BarContext> MyFactory
@inject NavigationManager Navigation


<PageTitle>Prices | @SubTitle</PageTitle>

<Options 
    Title=@Title Icon=@Icon 
    Url=@Url UrlCaption=@UrlCaption 
    CreateUrl=@CreateUrl SubTitle=@SubTitle 
    UrlCaptionIcon=@UrlCaptionIcon OptionIcon=@OptionIcon
    NextPage=@NextPage PreviousPage=@PreviousPage
    FirstPage=@FirstPage LastPage=@LastPage
    CurrentPage=@CurrentPage TotalPages=@TotalPages
/>

<div class="row bg-white p-3" style="min-height:75vh !important;">
    <div class="col-12">
        <div class="row text-white shadow-sm txtshadow  bg-unique">
            <div class="col-1 text-center py-3 fw-bolder">#</div>
            <div class="col-3 py-3 text-start">Adjust Id</div>
            <div class="col-2 py-3 text-center">Items</div>
            <div class="col-lg-4 col-md-3 col-6 py-3 text-md-start text-start">Reason</div>
            <div class="col-lg-2 col-md-3 d-none d-md-block py-3 text-start">By</div>
        </div>
        @{
            if(!ThesePrices.Any()){
                <div class="container text-center">
                    <p class="p-3  fs-4 text-unique text-center opacity-75" >-- : --</p>
                </div>
            }
            else{
                foreach(var item in ThesePrices){
                    if(item.ProductPrice.Any() && item.PricePurpose == "ADJUSTMENTS"){
                        <div class="row text-unique border-bottom">
                            <div class="col-1 text-center py-2 ">@(item.PriceId)</div>
                            <div class="col-3 py-1 text-start">
                                <a href="Prices/Detail/@item.PriceId" class="p-0 m-0">
                                    <ul class="p-0 m-0 d-flex flex-column text-center">
                                        <li class="p-0 m-0 text-start text-primary">@(item.PriceCode + item.PriceId)</li>
                                        <li class=" m-0 opacity-75 d-none d-lg-block " style="font-size:0.8rem !important; width:fit-content;">@(item.DateOfIssue.ToString("ddd, dd MMM yy"))</li>
                                        <li class=" m-0 opacity-75 d-lg-none " style="font-size:0.8rem !important; width:fit-content;">@(item.DateOfIssue.ToString("dd MMM yy"))</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="col-2 py-2 text-center">@item.ProductPrice.Count</div>
                            <div class="col-lg-4 col-md-3 col-6 text-start py-2 text-capitalize"style="font-size:0.8rem !important;">@item.PriceReason</div>
                            <div class="col-lg-2 col-md-3 d-none d-md-block py-1 text-unique text-start">
                                <ul class="p-0 m-0 d-flex flex-column text-center">
                                    <li class="p-0 m-0 text-start text-unique">@item.User.UserFirstName</li>
                                    <li class=" m-0 opacity-75 " style="font-size:0.8rem !important; width:fit-content;">@item.User.UserAccessLevel</li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
</div>



@code{
    public string Title = "Prices";
    public string Icon = "toggles2";
    public string OptionIcon = "view-stacked";
    public string SubTitle = "List view";
    public string Url = "Prices/Detail/0";
    public string UrlCaption = "Detail View";
    public string UrlCaptionIcon = "ui-checks-grid";
    public string CreateUrl = "Prices/Create";

    // Data Variables
    private List<Price> ThesePrices = new();
    private int CurrentPage = 0;
    private int PageSize = 8;
    private int TotalPages = 1;
    
    protected override async Task OnInitializedAsync(){
        
        await base.OnInitializedAsync();
        await NextPage();
    }
    
    private async Task NextPage(){
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            
            double Num = (double)(repo.Prices.GetNoRecords())/PageSize;
            TotalPages = (int)(Math.Ceiling(Num));
            
            if(CurrentPage < TotalPages ){
               CurrentPage ++ ;
            }
            else{
                CurrentPage = TotalPages; 
            }
            
            ThesePrices = await repo.Prices.GetAllPricesDetailedAsync(CurrentPage, PageSize);
            
            await repo.CompleteAsync();
            repo.Dispose(); 
        }
        
        StateHasChanged();
    }
    
    private async Task PreviousPage(){
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            
            double Num = (double)(repo.Prices.GetNoRecords())/PageSize;
            TotalPages = (int)(Math.Ceiling(Num));
            
            if(CurrentPage > 1 ){
               CurrentPage -- ;
            }
            else{
                CurrentPage = 1; 
            }
            
            ThesePrices = await repo.Prices.GetAllPricesDetailedAsync(CurrentPage, PageSize);
            
            await repo.CompleteAsync();
            repo.Dispose(); 
        }
        
        StateHasChanged();
    }
    
    private async Task FirstPage(){
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            
            double Num = (double)(repo.Prices.GetNoRecords())/PageSize;
            TotalPages = (int)(Math.Ceiling(Num));
            
            CurrentPage = 1;
            
            ThesePrices = await repo.Prices.GetAllPricesDetailedAsync(CurrentPage, PageSize);
            
            await repo.CompleteAsync();
            repo.Dispose(); 
        }
        
        StateHasChanged();
    }
    
    private async Task LastPage(){
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            
            double Num = (double)(repo.Prices.GetNoRecords())/PageSize;
            TotalPages = (int)(Math.Ceiling(Num));
            
            CurrentPage = TotalPages;
            
            ThesePrices = await repo.Prices.GetAllPricesDetailedAsync(CurrentPage, PageSize);
            
            await repo.CompleteAsync();
            repo.Dispose(); 
        }
        
        StateHasChanged();
    }
}
