@page "/Pos/Sales"
@layout PosHome

@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BarContext> MyFactory
@inject NavigationManager Navigation

<PageTitle>Sales Report</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="row">
                    <div class="col-1 px-0  py-2 pe-md-3 text-end">
                        <ul class="d-flex flex-column justify-content-end p-0 m-0" style="font-size:0.8rem !important;">
                            <li class="p-0 m-0 me-2 py-2" >
                                From : 
                            </li>
                            <li class="p-0 m-0 me-2 py-2">
                                To : 
                            </li>
                        </ul>
                    </div>
                    <div class="col-3  py-2 text-start">
                        <ul class="d-flex flex-column justify-content-start p-0 m-0" style="font-size:0.8rem !important;">
                            <li class="p-0 m-0 mb-1">
                                <input type="date" @bind=@FromDate @bind:event="onchange"  @onfocusout=@(()=> GetBillsDateWiseByUser()) @onclick=@(()=> GetBillsDateWiseByUser()) class="form-control fs-6 fw-bolder text-unique bg-blue border-0 py-2 rounded-0" style="font-size:0.8rem !important;" />
                            </li>
                            <li class="p-0 m-0">
                                <input type="date" @bind=@ToDate @bind:event="onchange" @onfocusout=@(()=> GetBillsDateWiseByUser()) @onclick=@(()=> GetBillsDateWiseByUser()) class="form-control fs-6 fw-bolder text-unique bg-blue border-0 py-2 rounded-0" style="font-size:0.8rem !important;" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-4  py-sm-2 py-3 text-start">
                        <div class="container bg-blue text-unique fw-bolder py-2 text-center">
                            <ul class="d-flex flex-column p-0 m-0">
                                <li class="fw-bolder">Total Sales [Tzs]</li>
                                <li class="fw-bolder opacity-75">@DateSales.ToString("n0")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4  py-sm-0 py-2 text-start">
                        <div class="form-floating mt-2 py-0 m-0">
                            <select @bind=@Uid @bind:event="onchange" @onclick=@(()=> GetBillsDateWiseByUser())   required  class="form-select m-0 text-capitalize border-0 bg-blue text-unique fw-bolder rounded-0 " id="floatingSelect" aria-label="Floating label select example">
                                <option value=0 >All</option>
                                @{
                                    foreach(var individual in Staffs){
                                        <option value=@individual.UserId>
                                            <div class="row">
                                                <div class="col-3">
                                                    @individual.UserId
                                                </div>
                                                <div class="col-9">
                                                    @individual.UserFirstName
                                                </div>
                                            </div>
                                        </option>
                                    }
                                }
                                
                            </select>
                            <label for="floatingSelect">Cashier</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 text-end py-2">
                <input type="text" @bind=@Bid @onpaste=@(()=> GetThisBill(Bid))  @onfocusout=@(()=> GetThisBill(Bid)) class="py-3 text-center bg-xs text-unique opacity-75 border-0 fw-bolder rounded-0 form-control" placeholder="SEARCH BY BILL #" />
            </div>
        </div>
        <div class="row px-0">
            <div class="col-md-7 col-12 px-4 ">
                <div class="row px-0 bg-unique text-white py-3">
                    <div class="col-1">
                        #
                    </div>
                    <div class="col-4 text-start">
                        Bill Info
                    </div>
                    <div class="col-3 text-start px-0">
                        Items Costs
                    </div>
                    <div class="col-4 text-start px-0">
                        Cashier
                    </div>
                </div>
                <div class="row bg-xs" style="overflow-y : scroll; max-height:66.3vh; overflow-x:hidden;">
                    @{
                        if(TheseBills.Any()){
                            if(TheseBills.Count == 1 ){
                                GetBillItems(TheseBills[0]);
                            }

                            foreach(var BillItem in TheseBills){
                                double TotalSaleB = 0.0;
                                
                                foreach(var TaskB in BillItem.ProductBill){
                                    TotalSaleB += TaskB.BillItemPrice * TaskB.QtyPurchased;
                                }
                                
                                <li @onclick=@(()=> GetBillItems(BillItem)) class="col-12 border-bottom fw-bolder text-unique text-start py-2 bg-xs" style="cursor:pointer;" id="smart-bg" >
                                    <div class="row px-0 text-unique">
                                        <div class="col-1 fw-bolder py-2">@(TheseBills.IndexOf(BillItem) + 1)</div>
                                        <div class="col-4">
                                            <ul class="p-0 m-0">
                                                <li class="p-0 m-0 fw-bolder text-success ">@BillItem.BillId | @BillItem.BillCode</li>
                                                <li class="p-0 m-0 opacity-75 d-none d-lg-block">@BillItem.BillDateCreated.ToString("ddd, dd MMM yy , hh:mm")</li>
                                                <li class="p-0 m-0 opacity-75 d-block d-lg-none">@BillItem.BillDateCreated.ToString("ddd, dd MMM yy")</li>
                                            </ul>
                                        </div>
                                        <div class="col-3 px-0">
                                            <ul class="p-0 m-0">
                                                <li class="p-0 m-0 fw-bolder">Items : @BillItem.ProductBill.Count</li>
                                                <li class="p-0 m-0 opacity-75">
                                                    @TotalSaleB.ToString("n0")
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-4 px-0">
                                            <ul class="p-0 m-0">
                                                <li class="p-0 m-0 text-capitalize fw-bolder">By : @BillItem.User.UserFirstName</li>
                                                <li class="p-0 m-0 opacity-75">@BillItem.User.UserId | @BillItem.User.UserCode,  @BillItem.User.UserAccessLevel</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            }
                            
                        }else{
                            <li class="p-3 bg-xs rounded text-center text-capitalize text-unique fw-bolder opacity-50">
                                No Records
                            </li>
                        }
                        
                    }
                </div>
                
                
            </div>
            <div class="col-md-5 col-12 border-top border-2">
                    @{
                    
                    if(SelectedBill.BillId > 0){
                        double TotalSaleA = 0.0;
                        <div class="row py-1 bg-xs">
                            <div class="col-5">
                                <ul class="p-0 m-0">
                                    <li class="p-0 m-0 fw-bolder text-success opacity-75">@SelectedBill.BillId | @SelectedBill.BillCode</li>
                                    <li class="p-0 m-0 opacity-75">@SelectedBill.BillDateCreated.ToString("ddd, dd MMM yy , hh:mm")</li>
                                </ul>
                            </div>
                            <div class="col-3 px-0">
                                <ul class="p-0 m-0">
                                    <li class="p-0 m-0 fw-bolder">Items : @(SelectedBill.ProductBill.Any() ? SelectedBill.ProductBill.Count : 0)</li>
                                    <li class="p-0 m-0 opacity-75">
                                    @{
                                        foreach(var TaskA in SelectedBill.ProductBill){
                                            TotalSaleA += TaskA.BillItemPrice * TaskA.QtyPurchased;
                                        }
                                    }
                                        @TotalSaleA.ToString("n0")
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4 px-0">
                                <ul class="p-0 m-0">
                                    <li class="p-0 m-0 text-capitalize fw-bolder">By : @(SelectedBill.User.UserFirstName)</li>
                                    <li class="p-0 m-0 opacity-75">@SelectedBill.User.UserId | @SelectedBill.User.UserCode,  @SelectedBill.User.UserAccessLevel</li>
                                </ul>
                            </div>
                        </div>
                    }else{
                        
                        SelectedBill = new();
                        <li class="p-3 bg-xs rounded text-center text-capitalize text-unique fw-bolder opacity-50">
                            No Records Selected
                        </li>
                    
                    }
                }
                <div class="row bg-blue" style="overflow-y : scroll; max-height:66.3vh; overflow-x:hidden;">
                    @{
                        foreach(var ItemList in TheseProductBills){
                            <li class="col-12 border-bottom fw-bolder text-unique text-start py-2" id="" >
                                <div class="row px-0">
                                    <div class="col-1 py-2">@(TheseProductBills.IndexOf(ItemList) + 1)</div>
                                    <div class="col-4 text-capitalize">
                                        <ul class="p-0 m-0">
                                            <li class="p-0 m-0">@(ItemList.Product.ProductCaption.Length > 20 ? ItemList.Product.ProductCaption.Substring(0,18) + ".." : ItemList.Product.ProductCaption)</li>
                                            <li class="p-0 m-0 opacity-50">@ItemList.ProductId | @ItemList.Product.ProductCode</li>
                                        </ul>
                                    </div>
                                    <div class="col-3 text-start">
                                        <ul class="p-0 m-0 text-start">
                                            <li class="p-0 m-0 text-start">Qty</li>
                                            <li class="p-0 ps-1 m-0 opacity-50 text-start">@ItemList.QtyPurchased</li>
                                        </ul>
                                    </div>
                                    <div class="col-4 text-capitalize px-0">
                                        <ul class="p-0 m-0">
                                            <li class="p-0 m-0">&#64; @ItemList.BillItemPrice.ToString("n0")</li>
                                            <li class="p-0 m-0 opacity-75">&sum; @((ItemList.BillItemPrice * ItemList.QtyPurchased).ToString("n0"))</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@code{
    
    private DateTime FromDate = DateTime.Now;
    private DateTime ToDate = DateTime.Now;
    private string TempoBackground = "";
    
    private List<Bill> TheseBills = new();
    private Bill SelectedBill = new();
    private List<ProductBill> TheseProductBills = new();
    private List<User> Staffs = new();
    private int Uid = 0;
    private int? Bid = null;
    private double DateSales = 0.0;
    
    protected override async Task OnInitializedAsync(){
        await base.OnInitializedAsync();
        FromDate = DateTime.Today;
        ToDate = DateTime.Now;
        Bid = null;
        Uid=0;
        
        await GetBillsDateWiseByUser();
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            Staffs = await repo.Users.GetAllUsersDetailedAsync(1, repo.Users.GetNoRecords());
            
            await repo.CompleteAsync();
            repo.Dispose();
        }
        
    }
    
    private async Task GetThisBill(int? BillNumber){
        
        if(BillNumber != null){
            
            TheseBills = new();
            TheseProductBills = new();
            SelectedBill = new();
            
            using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
                Bill ABill = await repo.Bills.GetDetailedBillAsync((int)BillNumber);
                if(ABill != null){
                    TheseBills.Add(ABill);
                    
                    FromDate = ABill.BillDateCreated;
                    ToDate = ABill.BillDateCreated;
                    Uid = (int)ABill.UserId;
                    SelectedBill = ABill;
                }else{
                    TheseBills = new();
                    Uid = 0;
                    Bid = null;
                    FromDate = DateTime.Now;
                    ToDate = DateTime.Now;
                }
                
                SetDateSales();
                
                await repo.CompleteAsync();
                repo.Dispose();
            }
        }
    }
    
    private async Task GetBillsDateWise(){
        TheseBills = new();
        TheseProductBills = new();
        SelectedBill = new();
        Bid = null;
        Uid = 0;
        
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            TheseBills = await repo.Bills.GetAllBillsDateWiseDetailedAsync(FromDate, ToDate);
            
            await repo.CompleteAsync();
            repo.Dispose();
        }
       SetDateSales();
    }
    
    private async Task GetBillsDateWiseByUser(){
        TheseBills = new();
        TheseProductBills = new();
        SelectedBill = new();
        Bid = null;
        
        using(var repo = new UnitOfWork(MyFactory.CreateDbContext())){
            if(Uid > 0){
                TheseBills = await repo.Bills.GetAllBillsDateWiseWithUserDetailedAsync(FromDate, ToDate,Uid);
            }
            else{
                await GetBillsDateWise();
            }
            
            await repo.CompleteAsync();
            repo.Dispose();
        }
        SetDateSales();
    }
    
    private async Task GetBillItems(Bill TempData){
        TheseProductBills = new();
        SelectedBill = new();
        
        if(TempData != null){
            
            TheseProductBills = TempData.ProductBill;
            SelectedBill = await Task.Run(()=> (Bill)TempData);
        }
        Bid = null;
        SetDateSales();
        StateHasChanged();
    }
    
    private void SetDateSales(){
        double InnerTotal = 0.0;
        DateSales = 0.0;
        if(TheseBills.Any()){
            foreach(var item in TheseBills){
                foreach(var bill in item.ProductBill){
                    InnerTotal += ((bill.QtyPurchased)*(bill.BillItemPrice));
                }
                DateSales += InnerTotal;
                InnerTotal = 0.0;
            }
        }else{
            DateSales = 0.0;
        }
    }
}